.claude
.vscode
.DS_Store
.cproject
.project
.dirstamp
*.o
*.a
*.gz
*.tar
*.tgz
*.tab
*.txt
*.out
*.html
*.swp
*.tmproj
*.idea

## These are for autoconf/automake/libtool
*.deps
*stamp-h1
*.la
*.lai
*.lo
*.orig
*.libs
aux_build
autom4te.cache
config.log
config.status
libtool
aclocal.m4
Makefile.in
configure
configure~

autoscan.log
configure.scan


## This is user/architecture specific
tags

Makefile
INSTALL

breseq-*

binarydist_build

.snakemake
tests/*/output*
tests/*/0*
tests/*/data
tests/test.config
tests/*/test.done
tests/*/test.log
tests/*/test.result
tests/lambda_mixed_pop_cl_tabulate/contingency_loci.csv
tests/*-local/
tests/data/*-local/

src/breseq/breseq/
src/breseq/breseq
src/breseq/gdtools

package

## For Xcode

src/Build
xcworkspace
xcuserdata
xcshareddata
xcscheme

## For Various IDEs
nbproject/*
Debug/*
Release/*

## Conda environment
env/*
