HEADER_SEARCH_PATHS = $(SRCROOT)/../../aux_build $(SRCROOT)/breseq /opt/local/include $(CONDA_PREFIX)/include

LIBRARY_SEARCH_PATHS = $(SRCROOT)/../../extern/samtools-1.3.1/htslib-1.3.1 $(SRCROOT)/../../extern/samtools-1.3.1 /opt/local/lib $(CONDA_PREFIX)/lib

CLANG_CXX_LANGUAGE_STANDARD = c++11
OTHER_CFLAGS = $(OTHER_CFLAGS) -DDATADIR=\"$(SRCROOT)/breseq\" -DMINIZ_NO_ZLIB_COMPATIBLE_NAMES
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -lhts -lminiz
