HEADER_SEARCH_PATHS = $(SRCROOT)/../aux_build $(SRCROOT)/breseq $(SRCROOT)/../env/include

LIBRARY_SEARCH_PATHS = $(SRCROOT)/../env/lib

CLANG_CXX_LANGUAGE_STANDARD = c++11
OTHER_CFLAGS = $(OTHER_CFLAGS) -DDATADIR=\"$(SRCROOT)/share/breseq\" -DMINIZ_NO_ZLIB_COMPATIBLE_NAMES
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -lhts -lminiz -lz

LD_RUNPATH_SEARCH_PATHS = $(SRCROOT)/../env/lib
CONDA_BIN_PATH = $(SRCROOT)/../env/bin
